.navbar {
  display: flex;
  align-items: center;
  padding: 24px;
  max-width: 1280px;
  margin: 0 auto;
}

.navbar a {
  font-size: 32px;
  font-weight: 700;
}

.navbar a:hover {
  text-decoration: underline;
}
