.footer {
  background-color: #fafafa;
  padding: 80px 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8;
  max-width: 768px;
  margin: 0 auto;
}

.container img {
  border-radius: 50%;
}

.container a {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  transition: filter 0.1s;
}

.container a:hover {
  filter: brightness(0.9);
  text-decoration: underline;
}

.container p {
  font-size: 16px;
}
