.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 80px 32px;
}

.header {
  padding-top: 32px;
}

.header strong {
  font-size: 14px;
  font-weight: 400;
}

.header h1 {
  font-size: 48px;
  margin: 8px 0;
}

.header div {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin: 16px 0 32px;
  padding-bottom: 32px;
}

.header div a {
  font-weight: 500;
}

.body h1,
.body h2,
.body h3 {
  margin: 24px 0 8px;
}

.body h2 {
  font-size: 20px;
}

.body h3 {
  font-size: 16px;
}

.body p {
  font-size: 16px;
  margin: 8px 0;
}
